@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    height: 100vh;
}

a:hover {
    text-decoration: underline;
}

table {
    border: 1px solid #eee;
}

tr {
    border-bottom: 1px solid #eee;
}

tbody {
    text-align: center;
}