@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html, body {
    max-width: 100vw;
    height: 100vh;
}

a:hover {
    text-decoration: underline;
}

.custom-table tr {
    border-bottom: 1px solid #eee;
}

.custom-table tbody {
    text-align: center;
}